// .apartmani{
//   margin-top: 8rem;
// }

//Loader
.loader {
    width: 215px;
    height: 215px;
    display: block;
    margin: 2rem auto;
    position: relative;
    background: #FFF;
    box-sizing: border-box;
  }
  .loader::after {
    content: '';
    width: calc(100% - 30px);
    height: calc(100% - 15px);
    top: 15px;
    left: 15px;
    position: absolute;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
     linear-gradient(#DDD 100px, transparent 0),
     linear-gradient(#DDD 16px, transparent 0),
     linear-gradient(#DDD 50px, transparent 0);
    background-repeat: no-repeat;
    background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
    background-position: -185px 0, center 0, center 115px, center 142px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    to {
      background-position: 185px 0, center 0, center 115px, center 142px;
    }
  }
  
  .button-wiev-more{
    margin: 0 auto;
  }
  
  
  .apartman {
    &__container {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      gap: 3rem;
      justify-content: center;
  
      @media screen and (max-width: 992px) {
        gap: 1.25rem;
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: max-content;
      }
      @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
      }
    }
    &__card {
      background-color: $first-color-gray;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem;
      border-radius: 1rem;
  
      @media screen and (max-width: 992px) {
        padding: 1rem;
      }
    }
  
    &__img {
      width: 340px;
      height: 200px;
      border-radius: 1rem;
      margin-bottom: $mb-1;
      margin-right: $mb-1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
  
      @media screen and (max-width: 992px) {
        margin-bottom: $mb-0-75;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  
    &__title {
      font-size: $h2-font-size;
      font-weight: $font-medium;
      margin-bottom: $mb-1;
      color: $first-color;
      text-align: center;
  
      @media screen and (max-width: 992px) {
        margin-bottom: $mb-0-25;
      }
    }
  
    &__subtitle {
      text-align: center;
      color: $text-color;
  
      &-icon {
        color: $first-color;
      }
    }
    &__description {
      width: 25rem;
    }
  
    &__button{
      display: flex;
      justify-content: center;
      margin-top: $mb-1;
    }
  }
  