// .apartmani{
//   margin-top: 8rem;
// }

//Loader

  
  .button-wiev-more{
    margin: 0 auto;
  }
  
  
  .apartman {
    &__container {
      display: grid;
      grid-template-columns: repeat(1, max-content);
      gap: 3rem;
      justify-content: center;
  
      @media screen and (max-width: 992px) {
        gap: 1.25rem;
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: max-content;
      }
      @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
      }
    }
    &__card {
      border: 1px solid $first-color-green;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      gap: 3rem;
  
      @media screen and (max-width: 992px) {
        padding: 1rem;
        flex-direction: column;
      }
      @media screen and (max-width: 768px) {
        gap: 1rem;
      }
    }
  
    &__img {
      width: 340px;
      height: 200px;
      margin-bottom: $mb-1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
  
      @media screen and (max-width: 992px) {
        margin-bottom: $mb-0-75;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  
    &__title {
      font-size: $h1-font-size;
      font-weight: $font-medium;
      margin-bottom: $mb-1;
      color: $first-color;
      text-align: center;
  
      @media screen and (max-width: 992px) {
        margin-bottom: $mb-0-25;
      }
      @media screen and (max-width: 768px) {
        font-size: $h2-font-size;
      }
    }
  
    &__subtitle {
      text-align: center;
      color: $text-color;
  
     
    }
    &__description {
      width: 25rem;
    }
    &__icons{
      display: flex;
      gap:1rem;
      margin-top: $mb-1;
      margin-bottom: $mb-1;
      justify-content: center;
      @media screen and (max-width: 768px) {
        gap: 1rem;
      }

      &-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $first-color;
        padding: 2rem;
        @media screen and (max-width: 768px) {
          padding: 1rem;
        }
      }
      &-title:nth-child(2){
        border-left: 1px solid $text-color-light;
        border-right: 1px solid $text-color-light;
      }
      &-icon{
        color: $first-color-green; 
        font-size: 2rem;     
      }
    }
    &__button{
      display: flex;
      justify-content: center;
      margin-top: $mb-1;
    }

  }